---

---

<footer class="flex flex-col gap-4 w-full">
  <div
    class="main_footer_info md:flex border-b w-full md:px-24 px-5 py-16 gap-10 grid grid-cols-1 max-w-screen-xl mx-auto"
  >
    <div class="about_us">
      <div class="relative">
        <button
          class="absolute right-[13px] transition-transform md:hidden"
          id="buttonAbout"
        >
          <svg width="30" height="30" viewBox="0 0 24 24"
            ><path fill="#000000" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"
            ></path></svg
          >
        </button>
        <h1 class="text-base md:text-xl font-bold opacity-90 mb-7 w-fit">
          Sobre nosotros
        </h1>
      </div>

      <div class="flex flex-col gap-7 md:w-48" id="about">
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Acerca de Starbucks</a
        >
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Trabaja con nosotros</a
        >
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Historias y noticias Starbucks</a
        >
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Sobre Notmilk</a
        >
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Guia de preparacion de un buen cafe en casa</a
        >
      </div>
    </div>
    <div class="client_service relative">
      <button class="absolute right-[13px] md:hidden" id="attButton">
        <svg width="30" height="30" viewBox="0 0 24 24"
          ><path fill="#000000" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"
          ></path></svg
        >
      </button>
      <h1 class="font-bold text-base md:text-xl opacity-90 mb-7 w-fit">
        Atencion al Cliente
      </h1>

      <div class="flex flex-col gap-7 items-start md:w-44" id="attention">
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Sugerencias y reclamos</a
        >
        <a
          href="#"
          class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
          >Factura Electronica</a
        >
      </div>
    </div>
    <img
      src="/footer-colombia.png"
      alt=""
      class="object-cover aspect-video w-[150px] h-10 md:ml-auto"
    />
  </div>
  <div class="flex flex-col py-2 px-3 h-full">
    <div class="social_media flex gap-7 py-2 px-2 mb-10 sm:justify-center">
      <a
        href="#"
        class="bg-black rounded-full p-1 hover:scale-110 transition-all"
      >
        <svg width="30" height="30" viewBox="0 0 896 1664"
          ><path
            fill="#ffffff"
            d="M895 12v264H738q-86 0-116 36t-30 108v189h293l-39 296H592v759H286V905H31V609h255V391q0-186 104-288.5T667 0q147 0 228 12"
          ></path></svg
        >
      </a>
      <a
        href="#"
        class="bg-black rounded-full p-1 hover:scale-110 transition-all"
      >
        <svg width="30" height="30" viewBox="0 0 24 24"
          ><path
            fill="#ffffff"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
          ></path></svg
        >
      </a>
      <a
        href="#"
        class="bg-black rounded-full p-1 hover:scale-110 transition-all"
      >
        <svg width="30" height="30" viewBox="0 0 24 24"
          ><path
            fill="#ffffff"
            d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
          ></path></svg
        >
      </a>
    </div>
    <div
      class="more_info flex gap-6 font-bold text-base px-3 flex-col sm:flex-row sm:flex-wrap sm:justify-center"
    >
      <a href="#" class="font-light opacity-60 hover:opacity-100 transition-all"
        >Terminos de uso web</a
      >

      <a href="#" class="font-light opacity-60 hover:opacity-100 transition-all"
        >Aviso de Privacidad</a
      >

      <a href="#" class="font-light opacity-60 hover:opacity-100 transition-all"
        >Politica de tratamiento de datos</a
      >

      <a href="#" class="font-light opacity-60 hover:opacity-100 transition-all"
        >Reversion de pago</a
      >

      <a href="#" class="font-light opacity-60 hover:opacity-100 transition-all"
        >Politica de garantias</a
      >
    </div>
    <div class="signature">
      <p class="font-bold text-xs opacity-30 text-center grow-0 py-5">
        Ⓒ 2024. Starbucks Cofee Company. Reservados todos los derechos <br />co
        | prod | fdaf994d47cfdf18b6f064f0ae5eacb432f873ac |
        26/02/2024-05:51:24:420
      </p>
    </div>
  </div>
</footer>

<style is:inline>
  footer {
    box-shadow: 0px -1px 15px 0 rgba(0, 0, 0, 0.096);
  }

  .scale-in-ver-top {
    -webkit-animation: scale-in-ver-top 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  .scale-out-ver-top {
    -webkit-animation: scale-out-ver-top 0.5s
      cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-ver-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  @-webkit-keyframes scale-out-ver-top {
    0% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
      display: none;
    }
  }
  @keyframes scale-out-ver-top {
    0% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", (e) => {
    if (document.body.clientWidth < 768) {
      const $abutton = document.getElementById("buttonAbout");
      const $asection = document.getElementById("about");
      const $attbutton = document.getElementById("attButton");
      const $attsection = document.getElementById("attention");

      $asection.classList.add("scale-out-ver-top");
      $attsection.classList.add("scale-out-ver-top");

      $abutton.addEventListener("click", (e) => {
        $asection.classList.contains("scale-out-ver-top")
          ? $asection.classList.replace("scale-out-ver-top", "scale-in-ver-top")
          : $asection.classList.add("scale-out-ver-top");

        $abutton.classList.toggle("rotate-180");
      });

      $attbutton.addEventListener("click", (e) => {
        $attsection.classList.contains("scale-out-ver-top")
          ? $attsection.classList.replace(
              "scale-out-ver-top",
              "scale-in-ver-top"
            )
          : $attsection.classList.add("scale-out-ver-top");

        $attbutton.classList.toggle("rotate-180");
      });
    }
  });
</script>
