---

---

<footer class="h-screen flex flex-col gap-4">
  <div class="main_footer_info flex border-b-2 w-full px-24 py-16 gap-10">
    <div class="about_us flex flex-col gap-7 w-48">
      <h1 class="text-xl font-bold opacity-90">Sobre nosotros</h1>
      <a
        href=""
        class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
        >Acerca de Starbucks</a
      >
      <a
        href="https://www.linkedin.com/company/alsea-colombia/mycompany/"
        class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
        >Trabaja con nosotros</a
      >
      <a
        href=""
        class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
        >Historias y noticias Starbucks</a
      >
      <a
        href=""
        class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
        >Sobre Notmilk</a
      >
      <a
        href="http://lbal-starbucks-prod-files-default.s3.amazonaws.com/s3fs-public/2023-09/STARBUCKS_CARTILLA_METODOS_compressed.pdf"
        class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
        >Guia de preparacion de un buen cafe en casa</a
      >
    </div>
    <div class="client_service flex flex-col gap-7 items-start w-44">
      <h1 class="font-bold text-xl opacity-90">Atencion al Cliente</h1>
      <a
        href="https://contacto.miexperienciastarbucks.com.co/"
        class="text-base font-semibold opacity-60 hover:opacity-100 transition-all"
        >Sugerencias y reclamos</a
      >
      <a
        href="https://tufacturastarbucks.com.co/"
        class="text-base opacity-60 hover:opacity-100 font-bold transition-all"
        >Factura Electronica</a
      >
    </div>
    <img src="" alt="" />
  </div>
  <div
    class="second_footer_media_more flex flex-col items-center justify-between grow py-2"
  >
    <div class="social_media flex items-center justify-center gap-10 p-7">
      <a
        href=""
        class="bg-black rounded-full p-1 hover:scale-110 transition-all"
      >
        <svg width="30" height="30" viewBox="0 0 896 1664"
          ><path
            fill="#ffffff"
            d="M895 12v264H738q-86 0-116 36t-30 108v189h293l-39 296H592v759H286V905H31V609h255V391q0-186 104-288.5T667 0q147 0 228 12"
          ></path></svg
        >
      </a>
      <a
        href=""
        class="bg-black rounded-full p-1 hover:scale-110 transition-all"
      >
        <svg width="30" height="30" viewBox="0 0 24 24"
          ><path
            fill="#ffffff"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
          ></path></svg
        >
      </a>
      <a
        href=""
        class="bg-black rounded-full p-1 hover:scale-110 transition-all"
      >
        <svg width="30" height="30" viewBox="0 0 24 24"
          ><path
            fill="#ffffff"
            d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
          ></path></svg
        >
      </a>
    </div>
    <div class="more_info flex gap-10 font-bold text-base">
      <a
        href=""
        class="pr-2 border-r-2 opacity-60 hover:opacity-100 transition-all"
        >Terminos de uso web</a
      >
      <span class="opacity-80">|</span>
      <a
        href=""
        class="pr-2 border-r-2 opacity-60 hover:opacity-100 transition-all"
        >Aviso de Privacidad</a
      >
      <span class="opacity-80">|</span>

      <a
        href=""
        class="pr-2 border-r-2 opacity-60 hover:opacity-100 transition-all"
        >Politica de tratamiento de datos</a
      >
      <span class="opacity-80">|</span>

      <a
        href=""
        class="pr-2 border-r-2 opacity-60 hover:opacity-100 transition-all"
        >Reversion de pago</a
      >
      <span class="opacity-80">|</span>

      <a
        href=""
        class="pr-2 border-r-2 opacity-60 hover:opacity-100 transition-all"
        >Politica de garantias</a
      >
    </div>
    <div class="signature">
      <p class="font-bold text-xs opacity-30 text-center">
        Ⓒ 2024. Starbucks Cofee Company. Reservados todos los derechos <br />co
        | prod | fdaf994d47cfdf18b6f064f0ae5eacb432f873ac |
        26/02/2024-05:51:24:420
      </p>
    </div>
  </div>
</footer>
