---

---

<header class="shadow-md" transition:persist="">
  <nav
    class="flex justify-between py-2.5 px-5 items-center h-24 max-w-screen-xl mx-auto xl:px-20"
  >
    <div class="nav_options h-90 flex items-center gap-12 h-full">
      <a href="/"
        ><img
          src="/logoPage.png"
          alt=""
          class="w-14 h-14 object-cover scale-125"
        /></a
      >
      <ul class="hidden md:flex gap-12 items-center">
        <li class="font-sans font-extrabold text-sm tracking-widest">
          <a href="/menu">MENU</a>
        </li>
        <li class="font-sans font-extrabold text-sm tracking-widest">
          <a href="/cafe">CAFÉ</a>
        </li>
        <li class="font-sans font-extrabold text-sm tracking-widest">
          <a href="/novedades">NOVEDADES</a>
        </li>
      </ul>
    </div>
    <div class="locate_store hidden md:block">
      <a href="" class="font-bold flex items-center gap-2 text-lg">
        <svg width="22" height="22" viewBox="0 0 20 20"
          ><path
            fill="#000000"
            d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13m0-11a2 2 0 1 0 0-4a2 2 0 0 0 0 4"
          ></path></svg
        >
        Localizar Tienda</a
      >
    </div>
    <button class="md:hidden">
      <svg width="35" height="35" viewBox="0 0 24 24"
        ><path
          fill="#000000"
          d="M4 18q-.425 0-.712-.288T3 17q0-.425.288-.712T4 16h16q.425 0 .713.288T21 17q0 .425-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7q0-.425.288-.712T4 6h16q.425 0 .713.288T21 7q0 .425-.288.713T20 8z"
        ></path></svg
      >
    </button>
  </nav>
</header>

<style is:inline>
  li > a {
    padding: 0px;
    border: none;
    transition:
      color 0.333s ease-in-out,
      border-bottom 0.222s ease-in-out,
      padding 0.222s ease-in-out;

    border-bottom: 0px solid transparent;
  }
  li > a:hover {
    color: #01723e;
    border-bottom: 5px solid #01723e;
    padding-bottom: 30px;
    transition: all 0.222s ease-in-out;
  }

  header {
    z-index: 100;
  }
</style>
