---

---

<header>
  <nav class="flex justify-between py-2.5 px-24 items-center h-24">
    <div class="nav_options h-90 flex items-center gap-12 h-full">
      <a href="/"
        ><img src="/logo.png" alt="" class="w-14 h-14 object-cover" /></a
      >
      <ul class="flex gap-12 items-center">
        <li class="font-sans font-extrabold text-sm tracking-widest">
          <a href="/menu">MENU</a>
        </li>
        <li class="font-sans font-extrabold text-sm tracking-widest">
          <a href="/cafe">CAFE</a>
        </li>
        <li class="font-sans font-extrabold text-sm tracking-widest">
          <a href="/novedades">NOVEDADES</a>
        </li>
      </ul>
    </div>
    <div class="locate_store">
      <a href="" class="font-bold flex items-center gap-2 text-lg">
        <svg width="22" height="22" viewBox="0 0 20 20"
          ><path
            fill="#000000"
            d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13m0-11a2 2 0 1 0 0-4a2 2 0 0 0 0 4"
          ></path></svg
        >
        Localizar Tienda</a
      >
    </div>
  </nav>
</header>

<style>
  li > a {
    padding: 0px;
    border: none;
    transition:
      color 0.333s ease-in-out,
      border-bottom 0.222s ease-in-out,
      padding 0.222s ease-in-out;

    border-bottom: 0px solid transparent;
  }
  li > a:hover {
    color: #01723e;
    border-bottom: 5px solid #01723e;
    padding-bottom: 30px;
    transition: all 0.222s ease-in-out;
  }
</style>
