---

---

<div
  class="w-full h-40 lg:h-80 flex items-center justify-center font-black mx-auto px-5"
  style="background-color: #1e3932;"
>
  <h1
    class="text-white lg:w-[600px] w-[650px] lg:text-5xl sm:text-5xl text-4xl"
  >
    Tu café Starbucks en prensa francesa
  </h1>
</div>
<div
  class="como_elaborar_cafe flex flex-col justify-center max-w-screen-sm mx-auto py-10 gap-10 px-5"
>
  <h3 class="text-3xl font-bold tracking-wide">¿Qué necesitamos?</h3>
  <ul>
    <li class="text-xl font-light">- Tu CAFÉ STARBUCKS COLOMBIA NARIÑO</li>
    <li class="text-xl font-light">- Prensa Francesa</li>
    <li class="text-xl font-light">- Cuchara</li>
    <li class="text-xl font-light">- Tu taza favorita</li>
    <li class="text-xl font-light">- Agua</li>
  </ul>
  <p class="text-xl font-light">
    Prepara tu prensa de café y no olvides precalentar la prensa de café
    enjuagándola con agua caliente. No olvides desechar el agua antes de agregar
    los pasos.
  </p>

  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%201_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />

  <h2 class="text-3xl font-bold tracking-wide">Paso 1:</h2>
  <p class="text-xl font-light">
    Agrega el café molido grueso. Usa 2 cucharadas (10 g) de café molido por
    cada taza (180 ml) de agua caliente. Agrega el café molido a la prensa de
    café vacía. Para este método de preparación, puedes usar tu café molido
    favorito en tamaño 15 para producir un rico sabor sin amargura.
  </p>
  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%202_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />
  <h2 class="text-3xl font-bold tracking-wide">Paso 2:</h2>
  <p class="text-xl font-light">
    Vierte agua justo debajo del borde de la prensa. Para obtener la mejor
    preparación, agrega agua que esté 30 segundos después de que haya hervido.
    La temperatura del agua afecta la eficiencia con la que se extraen los
    sabores del café. La temperatura ideal para preparar café con una prensa
    debe estar entre 90 y 96 °C.
  </p>

  <img
    src="
https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%203_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />

  <h2 class="text-3xl font-bold tracking-wide">Paso 3:</h2>
  <p class="text-xl font-light">
    Revuelve suavemente los granos varias veces con una cuchara. Una o dos veces
    es suficiente.
  </p>
  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%204_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />

  <h2 class="text-3xl font-bold tracking-wide">Paso 4:</h2>
  <p class="text-xl font-light">Coloca la tapa del émbolo, asegura y espera.</p>
  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%205_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />

  <h2 class="text-3xl font-bold tracking-wide">Paso 5:</h2>
  <p class="text-xl font-light">Espera 4 minutos para que se libere el café.</p>
  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%206_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />

  <h2 class="text-3xl font-bold tracking-wide">Paso 6:</h2>

  <p class="text-xl font-light">
    Empuja firmemente el émbolo hacia abajo, separando así el café de la
    superficie, presionando lentamente el émbolo hacia abajo.
  </p>
  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%207.1_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />

  <h2 class="text-3xl font-bold tracking-wide">Paso 7:</h2>

  <p class="text-xl font-light">
    Sirve y saborea tu café favorito en casa ¡Siente el aroma y disfruta de tu
    taza de café Colombia Nariño recién hecho como si estuvieras en una de
    nuestras tiendas!
  </p>
  <img
    src="https://djftrby1k8irl.cloudfront.net/s3fs-public/2022-02%2FFOTO%208_1.jpeg?auto=format,compress&q=70&crop=focalpoint&ar=1.6:1.0&w=700&fit=max"
    alt=""
  />
</div>
