---
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoPage.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

      h1,
      h2,
      h3,
      a,
      p,
      button,
      span {
        font-family: "Lato", sans-serif;
        color: #1b1e21;
      }
    </style>
  </body>
</html>
